<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
	<meta property="og:image" content="https://answerny.ai/img/chatbot_corona19_2.png">
	<title>코로나19 알림니 챗봇 서비스!</title>
	<link rel="icon" type="image/png" sizes="32x32" href="http://answerny.ai/img/gui1.png">
	<link rel="apple-touch-icon" href="http://answerny.ai/img/gui1.png">

	<link href="./assets/css/reset.css" rel="stylesheet" type="text/css">
	<link href="./assets/css/autoComplete.css" rel="stylesheet" type="text/css">
	<link href="./assets/css/swiper.min.css" rel="stylesheet" type="text/css">

	<link href="./assets/css/content.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="./assets/js/jquery-latest.min.js"></script>
	<script type="text/javascript" src="./assets/js/async.min.js"></script>
	<script type="text/javascript" src="./assets/js/swiper.min.js"></script>
	<script type="text/javascript" src="./assets/js/corona.js"></script>
</head>

<body>
	<!-- header -->
	<header>
		<div class="header">
			<h1>코로나 알림이</h1>
			<div class="header__guide"><button type="button"><img src="./assets/images/guide_btn.png"
						onclick="javascript:guideOpen();"></button></div>
		</div>
		<div class="covid">
			<div class="total">
				국내 누적 확진환자
				<span class="total__number" id="notice_total">18,265</span>
				<span class="increase" id="notice_increase">(+320)</span>
				<span class="set_time" id="notice_time">20. 8. 26. (수) 00시 기준</span>
			</div>
			<div class="dashboard">
				<div class="covid__box ing">
					<p class="title">치료중</p>
					<p class="number">4,210<span class="percent">(22.1%)</span></p>
					<div class="plusnumber">+278</div>
				</div>
				<div class="covid__box end">
					<p class="title">격리해제</p>
					<p class="number">14,551<span class="percent">(76.3%)</span></p>
					<div class="plusnumber">+90</div>
				</div>
				<div class="covid__box deth">
					<p class="title">사망자</p>
					<p class="number">316<span class="percent">(1.7%)</span></p>
					<div class="plusnumber">+3</div>
				</div>
			</div>
			<div class="inspection">
				<p>검사 중 <span id="tests_number">52,795</span> <span id="tests_increase">(+2,433)</span></p>
			</div>
		</div>
		<p class="info" id="notice_text">*질병관리본부 발표 후 1-2시간 이내에 업데이트되며,증감수는 전일 00시 대비입니다.</p>
	</header>
	<!-- //header -->

	<div class="box_wrap">
		<!-- 기본질문 -->
		<div class="answer">
			<p class="answer__img"><img src="./assets/images/gui1.png" alt="""></p>
			<div class=" answer__content">
				<p class="answer__name">코로나알림이</p>
				<div class="answer__ask">
					안녕하세요, 코로나19에 대해 궁금한 정보를 안내해드리는 챗봇입니다.<br>
					필요한 정보는 버튼을 선택하거나 질문을 직접 입력하여 확인하실 수 있습니다.
					<div class="btn_wrap">
						<div class="btn_cover">
							<div class="btn_box">
								<div class="greeting-img">
									<img src="./assets/images/Greeting_btn11.png">
								</div>
								<div class="greeting-contents">지역별<br>확진자현황</div>
							</div>
							<div class="btn_box">
								<div class="greeting-img">
									<img src="./assets/images/Greeting_btn9.png">
								</div>
								<div class="greeting-contents">보도자료<br>정부브리핑</div>
							</div>
							<div class="btn_box">
								<div class="greeting-img">
									<img src="./assets/images/Greeting_btn_factcheck.png">
								</div>
								<div class="greeting-contents">코코로나19 팩트<br>& 이슈체크</div>
							</div>
							<div class="btn_box">
								<div class="greeting-img">
									<img src="./assets/images/Greeting_btn10.png">
								</div>
								<div class="greeting-contents">대상별<br>맞춤정보</div>
							</div>
							<div class="btn_box">
								<div class="greeting-img">
									<img src="./assets/images/Greeting_btn2.png">
								</div>
								<div class="greeting-contents">선별진료소<br>정보확인</div>
							</div>
							<div class="btn_box">
								<div class="greeting-img">
									<img src="./assets/images/Greeting_btn1.png">
								</div>
								<div class="greeting-contents">국외현황<br>정보확인</div>
							</div>
						</div>
					</div>
					<div>정보 출처 : <a href="javascript:moveToUrl(&#39;http://www.cdc.go.kr/cdc/&#39;)" class="btn2 type_b"
							style="text-decoration:underline;color:#0040ff;">질병관리본부,</a><a
							href="javascript:moveToUrl(&#39;http://ncov.mohw.go.kr/index_main.jsp&#39;)"
							class="btn2 type_b"
							style="text-decoration:underline;color:#0040ff;">코로나바이러스감염증-19(COVID-19)</a></div>
				</div>
				<p class="answer__time">오후 10:50</p>
		</div>
		</div>
		<!-- 질문자 -->
		<div class="questioner">
			<p class="questioner__text">지역별 확진자 현황</p>
			<p class="questioner__time">오후 10:50</p>
		</div>
		<!-- 지역별 확진자현황 -->
		<div class="answer">
			<p class="answer__img"><img src="./assets/images/gui1.png" alt="""></p>
			<div class=" answer__content">
				<p class="answer__name">코로나알림이</p>
				<div class="answer__ask">
					<p class="answer__info">지역별 확진자현황을 확인할 수 있는 두 가지 방법을 안내드립니다.</p>
					<p class="answer__info--head">지역별 현황 전체보기 선택시</p>
					<p class="answer__info"> 17개 광역시/도별 확진환자, 의사환자 검사 현황 확인 <span>(보건복지부 운영 사이트)</span></p>
					<p class="answer__info--head">특정 지역명 선택시</p>
					<p class="answer__info">해당 광역시/도에서 운영하는 확진자 현황 페이지로 이동 가능</p>

					<div class="btn_wrap local">
						<div class="btn_cover">
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_allregion.png">
								</div>
								<div class="greeting-contents">전체보기</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_seoul.png">
								</div>
								<div class="greeting-contents">서울특별시</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_busan.png">
								</div>
								<div class="greeting-contents">부산광역시</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_daegu.png">
								</div>
								<div class="greeting-contents">대구광역시</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_incheon.png">
								</div>
								<div class="greeting-contents">인천광역시</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_gwangju.png">
								</div>
								<div class="greeting-contents">광주광역시</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_deajun.png">
								</div>
								<div class="greeting-contents">대전광역시</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_ulsan.png">
								</div>
								<div class="greeting-contents">울산광역시</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_sejong.png">
								</div>
								<div class="greeting-contents">세종시</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_gyeonggi.png">
								</div>
								<div class="greeting-contents">경기도</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_gangwon.png">
								</div>
								<div class="greeting-contents">강원도</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_chungbuk.png">
								</div>
								<div class="greeting-contents">충청북도</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_chungnam.png">
								</div>
								<div class="greeting-contents">충청남도</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_jeonbuk.png">
								</div>
								<div class="greeting-contents">전라북도</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_jeonnam.png">
								</div>
								<div class="greeting-contents">전라남도</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_gyeongbuk.png">
								</div>
								<div class="greeting-contents">경상북도</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_gyeongnam.png">
								</div>
								<div class="greeting-contents">경상남도</div>
							</button>
							<button type="button" class="btn_box">
								<div class="greeting-img">
									<img src="https://answerny.ai/img/G6_jeju.png">
								</div>
								<div class="greeting-contents">제주도</div>
							</button>
						</div>
					</div>
				</div>
				<p class="answer__time">오후 10:50</p>
			</div>
		</div>
<!-- 
	// 각지역별 코로나 사이트 주소 
	href="http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=13&ncvContSeq=&contSeq=&board_id=&gubun=" target="_blank"
	
	href="http://www.busan.go.kr/corona/index.jsp" target="_blank" 
	href="http://www.daegu.go.kr/intro.jsp" target="_blank" 
	href="https://www.incheon.go.kr/health/index" target="_blank" 
	href="https://www.gwangju.go.kr/" target="_blank" 
	href="https://www.daejeon.go.kr/corona19/index.do" target="_blank" 
	href="http://www.ulsan.go.kr/corona.jsp" target="_blank" 
	href="https://www.sejong.go.kr/bbs/R3273/list.do;jsessionid=KwNXp1uVMRJV3XiPEwGBVLQgnhUCLZTxNX1qCgoBaWyWEa77V2WEvD51b1aNfDXa.Portal_WAS2_servlet_engine5?cmsNoStr=17465" target="_blank" 
	href="https://www.gg.go.kr/contents/contents.do?ciIdx=1150&menuId=2909" target="_blank" 
	href="http://www.provin.gangwon.kr/covid-19.html" target="_blank" 
	href="http://www.chungbuk.go.kr/www/index.do" target="_blank" 
	href="http://www.chungnam.go.kr/" target="_blank" 
	href="http://www.jeonbuk.go.kr/" target="_blank" 
	href="https://www.jeonnam.go.kr/" target="_blank" 
	href="http://www.gb.go.kr/Main/index.html" target="_blank"
	href="http://xn--19-q81ii1knc140d892b.kr/main/main.do" target="_blank"
	href="https://www.jeju.go.kr/corona19.jsp" target="_blank"
-->
		<!-- 각 지역별 발생 형황 : q -->
		<!-- 질문자 -->
		<div class="questioner">
			<p class="questioner__text">서울특별시 확진자 현황</p>
			<p class="questioner__time">오후 10:50</p>
		</div>
		
		<!-- 지역현황 답변 -->
		<div class="answer">
			<p class="answer__img"><img src="./assets/images/gui1.png" alt="""></p>
			<div class=" answer__content">
				<p class="answer__name">코로나알림이</p>
				<div class="answer__ask">
					<p class="country">서울</p>
					<p class="total">발생 총합 : <span>158,121</span></p>
					<p class="new__case">신규 확진자(국내/해외) : <span><b>458</b> (438/20) </span></p>					
					<p class="recovered">완치자 :  <span>1,245</span></p>
					<p class="death">사망자 :  <span>30</span></p>
					<p class="percent">발생률 :  <span>15%</span></p>
					<p class="link">
						더 자세한 사항을 알고 싶으면 아래 링크를 통해 확인하시기 바랍니다.<br>
						<a href="https://www.seoul.go.kr/coronaV/coronaStatus.do" target="_blank"><span>서울</span> 코로나 사이트 바로가기</a></p>
				</div>
				<p class="answer__time">오후 10:50</p>
			</div>
		</div>

		<!-- 질문자 -->
		<div class="questioner">
			<p class="questioner__text">보도자료 정부 브리핑</p>
			<p class="questioner__time">오후 10:50</p>
		</div>

		<!-- 지역현황 답변 -->
		<div class="answer">
			<p class="answer__img"><img src="./assets/images/gui1.png" alt="""></p>
			<div class=" answer__content">
				<p class="answer__name">코로나알림이</p>
				<div class="answer__ask">
					<p class="answer__info">정부는 코로나19 발생에 따라 중앙사고수습본부와 중앙방역대책본부를 운영하고 있습니다. 각 본부에서는 정례브리핑(1일 1회)과 국내 현황보도를 진행하고 있습니다.
						<br /><br />더 자세한 사항은 각 보도자료 사이트를 이용하여 주시기 바랍니다.
					</p>
					<dl>
						<dt><a hres="https://tv.naver.com/ktv/playlists" target="_blank">KTV 국민방송</a></dt>
						<dd>- 각 본부의 정례브리핑 동영상 확인 가능</dd>
					</dl>
					<dl>
						<dt><a hres="http://ncov.mohw.go.kr/tcmBoardList.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=&contSeq=&board_id=&gubun=" target="_blank">질병관리본부 보도자료</a></dt>
						<dd>- 중앙방역대책본부의 일일집계통계 및 정례브리핑 확인 가능</dd>
					</dl>
					<dl>
						<dt><a hres="http://ncov.mohw.go.kr/tcmBoardList.do?brdId=&brdGubun=&dataGubun=&ncvContSeq=&contSeq=&board_id=&gubun=" target="_blank">중앙사고수습본부 정례브리핑</a></dt>
						<dd>- 중앙사고수습본부의 정례브리핑 확인 가능</dd>
					</dl>
				</div>
				<p class="answer__time">오후 10:50</p>
			</div>
		</div>

		<!-- 질문자 -->
		<div class="questioner">
			<p class="questioner__text">선별 진료소 정보 확인</p>
			<p class="questioner__time">오후 10:50</p>
		</div>

		<!-- 선별 진료소 -->
		<div class="answer">
			<p class="answer__img"><img src="./assets/images/gui1.png" alt="""></p>
			<div class=" answer__content">
				<p class="answer__name">코로나알림이</p>
				<div class="answer__ask clinic">
					<p class="answer__info"><a href="https://www.mohw.go.kr/react/popup_200128.html" target="_blank">선별 진료소</a>에 관한 안내입니다.</p>
					<p class="answer__info"><a href="https://www.mohw.go.kr/react/popup_200128_2.html" target="_blank">검체 채취가 가능한 선별 진료소</a>를 이용하여야 검사 가능<br>ㄴ 선별 진료소는, 안전하게 검체를 채취할 수 있는 환경과 의뢰 체계를 갖추고 있습니다!</p>
					<p class="answer__info">* <a href="https://www.mohw.go.kr/react/popup_200128.html" target="_blank">지역별 선별 진료소 목록</a> 및 <a href="https://www.mohw.go.kr/react/popup_200128_2.html" target="_blank">검체 채취 가능 진료소 목록</a>을 확인해보세요!</p>
					<p class="answer__info">*암, 심장질환 등 호흡기질환이 아닌 환자들께서는 코로나19에 대해서 안심하고 <a href="https://www.mohw.go.kr/react/popup_200128_3.html" target="_blank">국민안심병원</a>에서 진료받으실 수 있습니다.</p>

					<button class="answer__request">의심증상 확인하기</button>
				</div>
				<p class="answer__time">오후 10:50</p>
			</div>
		</div>

		<!-- 질문자 -->
		<div class="questioner">
			<p class="questioner__text">의심 증상 확인하기</p>
			<p class="questioner__time">오후 10:50</p>
		</div>

		<!-- 의심증상 -->
		<div class="answer">
			<p class="answer__img"><img src="./assets/images/gui1.png" alt="""></p>
			<div class=" answer__content">
				<p class="answer__name">코로나알림이</p>
				<div class="answer__ask clinic">
					<p class="answer__info">코로나19의 원인 병원체는 신종 코로나 바이러스입니다.<br>
						증상은 발열 및 호흡기 증상(기침, 인후통, 폐렴 등)이 주로 나타나며, 현재 정확한 치명률은 알려져 있지 않습니다.</p>
					<p class="answer__info">감염병이 의심된다면, <a href="https://www.g-health.kr/portal/health/pubHealthSearch/list.do?rows=5&cpage=1&cl_cd=71&c_view=1&bbsId=U00198&menuNo=200452" target="_blank">관할 보건소</a> 또는 📞1339 혹은 📞지역번호+120로 상담을 문의해주시기 바랍니다.</p>
					<p class="answer__info">※ For more information on selected clinics : Call local Health centers or call at 1339 or your area code + 120</p>
					<p class="answer__info">※ 如疑似被感染，向所在地保健所咨询,或拨打 1339、区号+120电话咨询</p>
					<p class="answer__info"><a href="http://ncov.mohw.go.kr/baroView.do?brdId=4&brdGubun=&dataGubun=&ncvContSeq=&contSeq=&board_id=" target="_blank">코로나19 바이러스 란?</a></p>
				</div>
				<p class="answer__time">오후 10:50</p>
			</div>
		</div>

		<!-- 질문자 -->
		<div class="questioner">
			<p class="questioner__text">코로나19 이슈</p>
			<p class="questioner__time">오후 10:50</p>
		</div>

		<!-- 코로나19 이슈 -->
		<div class="answer">
			<p class="answer__img"><img src="./assets/images/gui1.png" alt="""></p>
			<div class=" answer__content">
				<p class="answer__name">코로나알림이</p>
				<div class="answer__ask clinic">
					<p class="answer__info">코로나19 예방을 위해 중요한 것은 정확한 정보를 아는 것입니다.<br>
						질병관리본부에서는 코로나19에 대한 이슈를 확인하여 정보로 제공하고 있습니다. 아래 버튼을 선택하여 코로나19 이슈에 대한 사실 정보를 확인해보시기 바랍니다.</p>
					<p class="answer__info"><a href="http://ncov.mohw.go.kr/factBoardList.do" target="_blank">코로나19  팩트 & 이슈체크 확인하러 가기</a></p>
				</div>
				<p class="answer__time">오후 10:50</p>
			</div>
		</div>

		<!-- 질문자 -->
		<div class="questioner">
			<p class="questioner__text">대상별 맞춤정보</p>
			<p class="questioner__time">오후 10:50</p>
		</div>

		<!-- 코로나19 이슈 -->
		<div class="answer">
			<p class="answer__img"><img src="./assets/images/gui1.png" alt="""></p>
			<div class=" answer__content">
				<p class="answer__name">코로나알림이</p>
				<div class="answer__ask swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							1
						</div>
						<div class="swiper-slide">Slide 2</div>
						<div class="swiper-slide">Slide 3</div>
						<div class="swiper-slide">Slide 4</div>
						<div class="swiper-slide">Slide 5</div>
						<div class="swiper-slide">Slide 6</div>
						<div class="swiper-slide">Slide 7</div>
						<div class="swiper-slide">Slide 8</div>
						<div class="swiper-slide">Slide 9</div>
						<div class="swiper-slide">Slide 10</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					</div>
				</div>
				<p class="answer__time">오후 10:50</p>
			</div>
		</div>






	</div>

	<!-- </div> -->
	<div class="search">
		<form id="question_frm" name="question_frm" method="POST" action="javascript:doQuestion()">
			<div class="search__wrap">
				<input type="text" class="quesion_input" name="sentence" id="sentence"
					onkeypress="if(event.keyCode==13) {doQuestion(); return false;}">
				<input type="text" hidden="hidden" id="hidden_query">
				<button type="submit" class="btn_send_thema" onclick="javascript:doQuestion();">
					보내기
				</button>
			</div>
		</form>
	</div>
	</div>
	</div>

	<script>
		var swiper = new Swiper('.swiper-container', {
			pagination: {
				el: '.swiper-pagination',
			},
		});
	  </script>
</body>

</html>